<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	"
>
	<!--监控所有action的记录 -->
	<bean id="aspect" name="aspect" class="com.cssnb.admin.aop.main.UserActive"></bean>
	<bean name="loggingAutoProxy" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
            <list>
				<value>*Action</value>
            </list>
        </property>
		<property name="interceptorNames">
			<list>
				<value>aspect</value>
			</list>
		</property>
	</bean>
	<!-- 监控action之前的操作 -->
	<!-- <bean id="actionInterceptor" class="org.springframework.aop.interceptor.PerformanceMonitorInterceptor" />
	<aop:config>
		<aop:pointcut id="aop_service" expression="execution(* com.cssnb..service.*.*(..))"/>
		<aop:advisor pointcut-ref="aop_service" advice-ref="actionInterceptor" order="2"/>
	</aop:config> -->
	<!--监控所有service的记录 -->
	<aop:config>
		<aop:aspect id="serviceAspect" ref="serviceMonitor">
			<aop:pointcut id="service_cut" expression="execution(* com.cssnb..service.*.*(..))" />
			<aop:before pointcut-ref="service_cut" method="doBefore"/>
			<aop:after pointcut-ref="service_cut" method="doAfter"/>
			<aop:around pointcut-ref="service_cut" method="doAround"/>
		</aop:aspect>
	</aop:config>
	<bean name="serviceMonitor" class="com.cssnb.admin.aop.main.UserMonitor"></bean>
</beans>