<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Wiki">
	<!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓内容管理Begin↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
	<!-- 添加内容 -->
	<insert id="addDoc" parameterType="map">
		insert into WIKI_CONTENT(CID,DIRID,TITLE,CONTENT) values(SQ_WIKI_CONTENT_ID.nextVal,#{dirId},#{title},rawtohex(#{content}))
	</insert>
	<!-- 更新内容 -->
	<update id="updDoc" parameterType="map">
		update WIKI_CONTENT set TITLE = #{title},CONTENT = rawtohex(#{content}) where CID = #{cid}
	</update>
	<!-- 根据目录ID查询文档内容 -->
	<select id="getDocByDirId" parameterType="map" resultType="map">
		select CID,DIRID,TITLE,utl_raw.cast_to_varchar2(dbms_lob.substr(CONTENT,length(CONTENT), 1 )) CONTENT,to_char("Date", 'yyyy-mm-dd HH24:mi:ss') "DATE" from WIKI_CONTENT where DIRID = #{dirId}
	</select>
	<!-- 查询首页文档内容 -->
	<select id="getDocIndex" resultType="map">
		select CID,DIRID,TITLE,utl_raw.cast_to_varchar2(dbms_lob.substr(CONTENT,length(CONTENT), 1 )) CONTENT,to_char("Date", 'yyyy-mm-dd HH24:mi:ss') "DATE" from WIKI_CONTENT where DIRID = 0
	</select>
	<!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑内容管理End↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
	<!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓目录管理Begin↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
	<!-- 添加目录 -->
	<insert id="addDir" parameterType="map">
		insert into WIKI_DIRECTORY(DIRID,DIRNAME,PID,"Order",ICON)values(SQ_WIKI_DIRECTORY_ID.nextVal,#{dirName},#{pid},#{order},#{icon})
	</insert>
	<!-- 删除目录 -->
	<delete id="delDirById" parameterType="java.lang.String">
		delete from WIKI_DIRECTORY where DIRID = #{dirId}
	</delete>
	<!-- 修改目录 -->
	<delete id="updDirById" parameterType="map">
		update WIKI_DIRECTORY set DIRID = #{dirId}
		<if test="dirName != null">,DIRNAME=#{dirName}</if>
		<if test="pid != null">,PID=#{pid}</if>
		<if test="order != null">,"Order"=#{order}</if>
		<if test="icon != null">,ICON=#{icon}</if>
		where DIRID = #{dirId}
	</delete>
	<!-- 查询目录列表 -->
	<select id="getDirList" parameterType="map" resultType="map">
		select DirId,DirName,Pid,"Order",Icon from wiki_directory order by Pid,"Order"
	</select>
	<!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑目录管理End↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
</mapper>